<?
//////////////////////////////////////////////////////////////////////////////////
//VARIABLES
//////////////////////////////////////////////////////////////////////////////////
$PROJ["BODYWIDTH"]=100-2*$PROJ["BODYMARGIN"];//%

//////////////////////////////////////////////////////////////////////////////////
//STYLES
//////////////////////////////////////////////////////////////////////////////////
$PROJ["STYLES"]=<<<STYLES
  <style type="text/css">
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*GENERAL*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    html body{
	background-color:$COLORS[text];
	padding:0px;
	margin:0px;
	font:14px Arial;
    }
    /*TEXT*/
    p,li{
	font:18px Arial;
    }
    /*LINKS*/
    a:link{
	color:blue;
	text-decoration:none;
    }
    a:visited{
	color:blue;
    }
    a:hover{
	color:blue;
	text-decoration:underline;
    }
    a.sci2web{
    font-weight:bold;
    }
    div.quote{
    margin-left:10px;
    font-style:italic;
    }
    a.image{
    padding:3px;
    padding-bottom:7px;
    background-color:white;
    text-align:center;
    vertical-align:center;
    text-height:300px;
    border:solid gray 1px;
    border-radius:2px;
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*IMG*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    img {
    border: 0px;
    }
    img.mainlogo{
    height:$PROJ[LOGOHEIGHT]px;
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*DIVS*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    div.header_container{
    position:relative;
    top:0px;
    left:0px
    width:100%;
    background-color:$COLORS[back];
    align:center;
    }
    div.header_content{
    position:relative;
    top:0px;
    left:0px;
    width:$PROJ[BODYWIDTH]%;
    margin-left:$PROJ[BODYMARGIN]%;
    background-color:$COLORS[back];
    }
    div.subtitle{
    font-size:20px;
    font-weight:bold;
    }
    div.logo{
    background-image:url('$PROJ[IMGDIR]/sci2web-poweredby.jpg');
    background-repeat:no-repeat;
    background-position:top right
    }
    div.footer_container{
    position:relative;
    top:0px;
    left:0px
    width:100%;
    background-color:$COLORS[back];
    align:center;
    border-top:solid 2px $COLORS[dark];
    }
    div.footer_contain{
    width:$PROJ[BODYWIDTH]%;
    margin-left:$PROJ[BODYMARGIN]%;
    background-color:white;
    position:relative;
    top:0px;
    left:0px;
    padding:10px;
    }
    div.debug_top{
    position:fixed;
    top:0px;right:10px;
    z-index:1;
    }
    div.debug_bottom{
    position:fixed;
    bottom:0px;right:10px;
    z-index:9001;
    }
    div.notification1{
    padding:2px;
    background-color:$COLORS[clear];
    float:right;
    position:absolute;
    top:0px;right:0px;
    border:solid gray 1px;    
    }
    div.formbuttons{
    position:relative;
    top:85px;
    width:96%;
    margin-left:2%;
    border:solid gray 0px;
    }
    div.module{
    border:dashed $COLORS[text] 0px;
    width:100%;
    height:90%;
    padding-left:5px;
    background-color:$COLORS[clear];
    }
    div.update{
    position:absolute;
    top:10px;right:10px;
    }
    div.actionbutton{
    display:inline-block;
    vertical-align:middle;
    border:solid black 0px;
    padding:2px;
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*FORMS*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    form.inline{
    position:relative;
    display:inline-block;
    height:20px;
    border:solid black 0px;
    text-height:20px;
    }
    textarea.filearea{
    width:100%;
    height:90%;
    white-space:pre-wrap;
    }
    div.filearea{
    width:100%;
    height:90%;
    }
    div.plainarea{
    width:100%-10px;
    white-space:pre-wrap;
    padding:10px;
    height:92%;
    border-top:solid $COLORS[dark] 2px;
    background-color:$COLORS[clear];
    overflow:auto;
    font-family:courier;
    font-size:12px;
    }
    div.viewarea{
    width:100%-10px;
    white-space:pre-wrap;
    padding:10px;
    border-top:solid $COLORS[dark] 2px;
    background-color:$COLORS[clear];
    overflow:auto;
    font-family:courier;
    font-size:14px;
    }
    div.imgarea{
    height:95%;
    width:100%;
    border:dashed $COLORS[text] 0px;
    text-align:center;
    }
    .image{
    padding:2px;
    }
    img.cancel{
    position:absolute;
    top:35px;right:5px
    }
    div.editlink{
	padding:2px;
	text-align:right;
	border-bottom:dashed $COLORS[text] 2px;
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*TABLES*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    table.sqlresults{
    font-size:12px;
    width:100%;
    }
    table.sqlresults thead{
    background-color:$COLORS[dark];
    color:$COLORS[back];
    padding:2px;
    }
    table.description{
    }
    .term{
    font-weight:bold;
    text-align:right;
    }
    .definition{
    padding:2px;
    }
    table.form{
    width:100%;
    font-size:12px;
    }
    .hiddenblock{
    display:none;
    }
    .form td.action{
    padding:5px;
    text-align:right;
    background-color:$COLORS[text];
    }
    .form td.group{
    padding:5px;
    text-align:left;
    background-color:$COLORS[dark];
    color:$COLORS[clear];
    }
    .form td.field{
    padding:5px;
    text-align:right;
    vertical-align:top;
    background-color:$COLORS[text];
    width:40%;
    }
    .form td.value{
    padding:5px;
    background-color:$COLORS[clear];
    width:70%;
    }
    td.field{
    font-size:12px;
    }
    table.apps{
    width: 100%;
    border: solid $COLORS[dark] 0px;
    }
    td.button{
    width:50px;
    padding:20px;
    vertical-align:top;
    border: solid $COLORS[dark] 0px;
    }
    td.description{
    vertical-align:top;
    padding:20px;
    }
    table.queue{
    border:dashed gray 0px;
    width:100%;
    }
    table.queue td{
    font-size:16px;
    padding:5px;
    }
    table.queue button{
    font-size:12px;
    }
    tr.header{
    background-color:$COLORS[dark];
    color:$COLORS[clear];
    }
    .files{
    width:100%;
    border:solid black 0px;
    }
    .files tr.body{
    background-color:$COLORS[clear];
    }
    .files tr.buttons{
    background-color:$COLORS[back];
    }
    .files .check{
    width:2em;
    }
    .files .head{
    background-color:$COLORS[dark];
    color:$COLORS[back];
    }
    table.configuration{
    width:100%;
    border:dotted gray 0px;
    }
    .group{
    background-color:$COLORS[clear];
    font-weight:bold;
    border-bottom:solid 1px $COLORS[dark];
    padding:5px;
    }
    td.varname{
    width:30%;
    background-color:$COLORS[text];
    padding:5px;
    text-align:right;
    }
    .confinput{
    }
    td.varval{
    vertical-align:top;
    }
    table.configuration td.buttons{
    }
    tr.entry{
    background-color:$COLORS[clear];
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*DECORATION*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    p.error{
    font-size:20px;
    background-color:$COLORS[text];
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*SCROLL*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    div.inputscroll{
    float:left;
    margin-right:5px;
    }
    div.inputscroll input{
    float:left;
    position:relative;
    }
    div.arrowscroll{
    float:left;
    position:absolute;
    top:0px;
    height:25px;
    padding:0px
    }
    div.backscroll{
    float:left;
    position:relative;
    width:200px;
    height:25px;
    background-color:lightgray;
    border:solid gray 1px;
    }
    div.extremescroll{
    position:relative;
    float:left;
    font-size:10px;
    top:5px;
    margin:2px;
    }
    div.sliderscroll{
    float:left;
    position:absolute;
    top:0px;left:0px;
    height:1em;
    padding:0px
    }
    img.buttonscroll{
    margin:0;
    height:25px;
    padding:0px
    }
    div.sliderscroll{
    float:left;
    position:absolute;
    top:0px;
    left:24px;
    height:1em;
    padding:0px
    }
    input.barsliderscroll{
    margin:0;
    height:25px
    }
    div.barsliderscroll{
    float:left;
    margin:0;
    top:0px;
    height:25px;
    border:solid black 0px;
    width:48px;
    background-image:url('$PROJ[IMGDIR]/icons/actions/Scroll.gif');
    }
    img.barsliderscroll{
    float:left;
    margin:0;
    top:0px;
    height:25px;
    border:solid black 0px;
    }
    div.close{
    float:right;
    position:absolute;
    top:2px;right:18px;
    border:dotted black 0px;
    padding:1px;
    width:100px;
    text-align:right;
    }
    div.control{
    float:right;
    position:absolute;
    bottom:6px;right:18px;
    }
    div.control,div.controlbox{
    border:solid $COLORS[dark] 2px;
    background-color:$COLORS[back];
    padding:1px;
    width:220px;
    text-align:right;
    padding:1px;
    z-index:5000;
    /*border-radius:10px;*/
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*TABBER*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    body.form{
    background-color:$COLORS[text];
    }
    .tabberlive .tabbertabhide {
    display:none;
    }
    .tabber {
    }
    .tabberlive {
    margin-top:0px;
    }
    ul.tabbernav
    {
    margin:0px;
    padding: 3px 0;
    border-bottom: 2px solid $COLORS[dark];
    font: bold 16px Arial, Helvetica;
    }
    ul.tabbernav li
    {
    list-style: none;
    margin: 0;
    display: inline;
    }
    ul.tabbernav li a
    {
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 2px solid $COLORS[dark];
    border-bottom: none;
    background: $COLORS[text];
    text-decoration: none;
    }
    ul.tabbernav li a:link {color:$COLORS[dark];}
    ul.tabbernav li a:visited {color:$COLORS[dark];}
    ul.tabbernav li a:hover
    {
    color:$COLORS[dark];
    background:$COLORS[text];
    border-color:$COLORS[dark];
    }
    ul.tabbernav li.tabberactive a
    {
    background-color:#fff;
    border-bottom:3px solid #fff;
    }
    ul.tabbernav li.tabberactive a:hover
    {
    color:$COLORS[dark];
    background:white;
    border-bottom:3px solid white;
    }
    .tabberlive .tabbertab {
    padding:20px;
    border:2px solid $COLORS[dark];
    border-top:0px;
    height:100%;
    overflow:auto;
    background-color:#fff;
    }
    .tabberlive .tabbertab h2 {
    display:none;
    }
    .tabberlive .tabbertab h3 {
    display:none;
    }
    .tabberlive#tab1 {
    }
    .tabberlive#tab2 {
    }
    .tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
    }
    .maintabber{
    position:relative;
    top:-30px;
    width:80%;
    margin-left:10%;
    }
    .sectabber{
    position:relative;
    top:10px;
    width:96%;
    margin-left:2%;
    height:77%;
    }
    .maintab {
    font-size:12px;
    height:100%;
    overflow:auto;
    }
    .sectab {
    font-size:12px;
    height:80%;
    overflow:auto;
    }
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    /*PREDESIGNED ELEMENTS*/
    /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
    .tabcontent{
    position:normal;
    top:0px;left:0px;
    }
    #ELBLANKET{
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    z-index: 9001;
    text-align:center;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    }
    .ELOVER{
    position:fixed;
    z-index:9000;
    top:45%;
    left:45%;
    text-align:center;
    }
    .DIVBLANKET{
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    z-index: 7001;
    float:left;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    /*border-radius:10px;*/
    }
    .DIVOVER{
    float:left;
    position:absolute;
    z-index:7000;
    /*
    top:45%;
    height:5%;
    left:45%;
    width:5%;
    */
    text-align:center;
    border-radius:10px;
    }
    .displayable{
    position:absolute;
    float:left;
    border:solid $COLORS[dark] 2px;
    border-radius:10px;
    padding:10px;
    background-color:$COLORS[clear];
    z-index:10000;
    }
    .contextual{
    position:absolute;
    float:left;
    padding:10px;
    background-color:$COLORS[clear];
    z-index:10000;
    border:solid $COLORS[dark] 2px;
    border-radius:10px;
    }
    .explanationtxt{
    font-style:italic;
    font-size:10px;
    }
    .userbox{
    position:absolute;
    top:20px;right:10%;
    display:none;
    border:solid $COLORS[dark] 1px;
    background-color:$COLORS[back];
    z-index:9002;
    padding:10px;
    box-shadow:5px 5px 5px $COLORS[text];
    -moz-box-shadow: 5px 5px 5px $COLORS[text];
    border-radius:10px;
    -moz-box-shadow:10px
    }
    .bugbox{
    position:fixed;
    display:none;
    bottom:0px;
    right:0px;
    border:solid $COLORS[dark] 1px;
    background-color:$COLORS[back];
    z-index:9002;
    padding:10px;
    box-shadow:5px 5px 5px $COLORS[text];
    -moz-box-shadow: 5px 5px 5px $COLORS[text];
    border-radius:10px;
    -moz-box-shadow:10px
    }
    .notification{
    z-index:50000;
    background-color:$COLORS[back];
    border:solid $COLORS[dark] 1px;
    font-size:14px;
    float:left;
    position:fixed;
    top:0px;
    width:40%;
    left:30%;
    text-align:center;
    box-shadow:2px 2px 2px $COLORS[text];
    -moz-box-shadow: 2px 2px 2px $COLORS[text];
    border-radius:5px;
    -moz-box-shadow:5px
    }
    .subnotification{
    position:absolute;
    width:20%;
    top:-10px;
    left:40%;
    background-color:$COLORS[clear];
    text-align:center;
    border:solid $COLORS[text] 1px;
    display:none;
    }
    .suberror{
    position:absolute;
    width:20%;
    top:0px;
    left:40%;
    background-color:pink;
    text-align:center;
    border:solid $COLORS[text] 1px;
    display:none;
    }
  </style>
STYLES;
?>
